@import "../../../styles/mixins";

$backgroundColor: linear-gradient(
  184.59deg,
  #272626 13.46%,
  rgba(2, 2, 2, 0.865) 86.54%
);
$SLP: #4bc0c8;
$SCRIBE: #c1d7f5;
$searchBGColor: #2f2f2f;
$searchPicColor: #474b4f;
$findTranscriptBtn: #595d63;
$defaultText: whitesmoke;
$activeBG: #007aff;
$linkColor: #989a9d;
$borders: rgba(9, 36, 75, 0.2);

@mixin activePage {
  color: $defaultText;
  background-color: $activeBG;
}

.leftNavBar {
  @include flexCol;
  @include setContainerFull;
  @include setContainer(73.68vh, 240px);
  border: 1px solid rgba(209, 213, 219, 0.18);
  border-radius: 25px 0px 0px 25px;
  background: $backgroundColor;
}

.branding {
  @include flexRowCenter;
  font-size: 1.2rem;
  text-shadow: 0 2% 2% rgba(0, 0, 0, 0.25);
  border-radius: 25px 0px 0px 0px;

  img:first-of-type,
  p {
    position: relative;
    top: 0.55em;

    &:nth-of-type(1) {
      color: $SLP;
    }

    &:nth-of-type(2) {
      color: $SCRIBE;
    }
  }

  p {
    top: 0.4em;
  }
}

.search {
  position: relative;
  @include flexRowCenter;
  margin-top: 15px;

  div:nth-of-type(1) > svg {
    position: absolute;
    width: 30px;
    top: 63%;
    color: $searchPicColor;
    @include stripInput;
    z-index: 10;

    &:first-child {
      left: 20px;
    }

    &:nth-child(2) {
      color: $searchPicColor;
      left: 38px;
    }
  }

  input:nth-of-type(1) {
    position: relative;
    @include setContainer(40px, 240px);
    top: 17px;
    margin: 5px;
    padding-left: 55px;
    border-style: none;
    border-radius: 5px;
    @include fontStyle;
    color: $defaultText;
    background-color: $searchBGColor;

    &:focus {
      outline: none;
    }
  }

  button:nth-of-type(1) {
    position: absolute;
    width: 30px;
    right: 10px;
    top: 64%;
    color: $findTranscriptBtn;
    @include stripButton;

    &:hover {
      cursor: pointer;
    }
  }
}

.activeLink {
  @include activePage();
}

.navLinks {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;

  color: $linkColor;
  cursor: pointer;

  svg {
    margin-left: 10px;
    margin-right: 10px;
  }

  ul {
    padding: 10px;
  }

  li {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1);
      color: whitesmoke;
      background-color: #77b9ff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.mediaControls {
}
