html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #d0c8c8 , #FCFCFC , #d8d3d3 , #f5e7e7db );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icons { 
    height: 100px;
    width: 100px;
    
   animation: myAnim 2s ease-out 0s 1 normal both;
   }
   
   .icons:hover {
    color: rgb(67, 118, 67);
   }
   
@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}