.headerContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0.65vh;
  width: 87%;
  height: 18vh;
  left: 9.9%;
  background: #b4c2da;
}

.headerContainer p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 9vw;
  height: 2.53rem;
  margin: 1.5%;
  background: #838485;
  color: #b5e4ff;
  box-shadow: 0px 4px 8px rgba(41, 54, 84, 0.5);
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.headerContainer > button > svg {
  margin-top: 0.05vw;
}

.headerContainer > button {
  position: relative;
  top: 10%;
  height: 33px;
  width: 150px;
  left: 60%;
  margin-left: 15px;
  border: 0.05rem solid #c1d7f5;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.51);
  transition: all 0.2s ease-in-out;
}

.headerContainer button:nth-of-type(3) {
  background: #8c85e0;
}

.headerContainer button:hover {
  transform: scale(1.05);
}

.dropDown {
  position: absolute;
  bottom: 5vh;
  display: flex;
  width: 7vw;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  left: 1.5%;
}

.dropDown:focus {
  outline: none;
}
