.headerContainer {
  position: absolute;
  display: flex;
  top: 8px;
  width: 1200px;
  height: 274px;
  left: 249px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  background: #b4c2da;
}

.headerContainer p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 38px;
  margin: 20px;
  border-radius: 5px;
  background: #838485;
  color: #b5e4ff;
  box-shadow: 0px 4px 8px rgba(41, 54, 84, 0.5);
}

.headerContainer > button > svg {
  margin-right: 0.3vw;
}

.headerContainer button {
  position: relative;
  width: 148px;
  height: 30px;
  margin: 15px;
  left: 35%;
  border: 1px solid #c1d7f5;
  border-radius: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.51);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.headerContainer button:nth-of-type(3) {
  background: #8c85e0;
}

.headerContainer button:hover {
  transform: scale(1.05);
}

.headerContainer select {
  position: relative;
  right: 57.5%;
  width: 155px;
  height: 20px;
  top: 100px;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
