@import "../../styles/global";
@import "../../styles/_mixins";
@import "../../styles/_variables";

.dashboard {
  position: relative;
  @include setContainer(71.4vh, 65.8vw);
  color: $whiteColor;
  background-color: rgba(4, 4, 4, 0.8);
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.25);
}

.btnContainers {
  height: 150px;
  @include flexRowCenter;
  gap: 1.8vw;

  button {
    @include flexColCenter;
    @include setContainer(7.5vh, 5vw);
    @include stripButton;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 35px;
    color: $whiteColor;
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms;
    transform: translateY(0);
    background: linear-gradient(122deg, #52afce, #2f6888, #429ace);
    background-size: 400% 400%;
    animation: AnimationName 30s ease infinite;

    &:hover {
      transition: 500ms;
      transform: translateY(-10px);
    }

    svg {
      position: relative;
      color: $whiteColor;
      @include setContainer(45px, 45px);
    }
  }
}

.movie {
  @include flexColCenter;
  width: 249px;
  height: 235px;
  border-radius: 15px;
  background-image: url("../../assets/pictures/place-holder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
