.navigationLeft {
  position: fixed;
  display: flex;
  height: 98vh;
  width: 240px;
  flex-direction: column;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(9, 36, 75, 0.2);
  background-color: rgb(255, 255, 255);
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px 0 0 0;
  background-color: #838485;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.branding img:first-of-type,
.branding p {
  position: relative;
  top: 0.6em;
}

.branding p {
  top: 0.4em;
}

.branding p:nth-of-type(1) {
  color: #4bc0c8;
}

.branding p:nth-of-type(2) {
  color: #c1d7f5;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: text;
  appearance: none;
}

.search > div:nth-of-type(1) > svg {
  position: absolute;
  width: 30px;
  top: 62%;
  color: #595d63;
  border: none;
  z-index: 10;
  background: transparent;
}

.search div:nth-child(1) svg:first-child {
  left: 20px;
}

.search div:nth-child(1) svg:nth-child(2) {
  color: #595d63;
  left: 40px;
}

.search input:nth-of-type(1) {
  position: relative;
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  top: 17px;
  margin: 5px;
  padding-left: 55px;
  border-style: none;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #2a2a2a;
  background-color: #f1f4f6;
}

.search input:focus {
  outline: none;
  border: none;
}

.search button:nth-of-type(1) {
  position: absolute;
  width: 30px;
  right: 10px;
  top: 62%;
  color: #595d63;
  border: none;
}

.search button:nth-of-type(1):hover {
  cursor: pointer;
}

.routingLinks {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

.routingLinks svg {
  margin-left: 10px;
  margin-right: 10px;
}

.routingLinks ul {
  display: flexbox;
  padding: 10px;
}

.routingLinks ul:first-of-type li:first-child {
  color: white;
  background-color: #007aff;
}

.routingLinks li {
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  margin-bottom: 1px;
  color: #526581;
  list-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.routingLinks li:hover {
  transform: scale(1.03);
  color: whitesmoke;
  background-color: #77b9ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 2px;
  width: 218px;
  z-index: -2;
}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 51%;
}

.toggle svg {
  margin-top: 1.5%;
}

.profile {
  position: absolute;
  bottom: 0px;
  width: 240px;
  height: 71px;
  background: #c1d7f5 url(/src/assets/navigation-icons/user-avatar.svg)
    no-repeat 10px center;
}

.profile div {
  position: relative;
  left: 3.5em;
  top: 5px;
  line-height: 3px;
}

@media (max-width: 1440px) {
  .navigationLeft {
    width: 200px;
  }

  .routingLinks {
    font-size: 12px;
  }
}

@media (max-width: 1280px) {
  .navigationLeft {
    width: 160px;
  }

  .branding {
    font-size: 14px;
  }

  .routingLinks {
    font-size: 10px;
  }
}

@media screen and (max-width: 1366px) {
  .navigationLeft {
    width: 200px;
  }
  .search input:nth-of-type(1) {
    width: 200px;
  }
  .routingLinks li {
    width: 160px;
  }
}

@media screen and (max-width: 1536px) {
  .navigationLeft {
    width: 240px;
  }
  .search input:nth-of-type(1) {
    width: 240px;
  }
  .routingLinks li {
    width: 240px;
  }
}
