.navigationLeft {
	position: relative;
	width: 240px;
	height: 1165px;
	border: 1px solid rgba(9, 36, 75, 0.2);
	border-radius: 5px;
}

.navigationLeft section:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	height: 80px;
	border-radius: 5px 5px 0px 0px;
	background: #838485;
}

.navigationLeft section:nth-child(1) img,
section:nth-child(1) p {
	position: relative;
	top: 10px;

	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigationLeft section:first-of-type p:first-of-type {
	color: #4bc0c8;
}

.navigationLeft section:first-of-type p:nth-child(3) {
	color: #c1d7f5;
}

.navigationLeft form:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigationLeft form:first-of-type img:first-of-type {
	position: relative;
	right: 20px;
}

.navigationLeft form:first-of-type input {
	position: relative;
	width: 170px;
	height: 40px;

	margin-top: 24px;

	box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2);
	border-radius: 8px;

	font-size: 14px;

	background-image: url(/src/assets/navigation-icons/eyeglass-bar-icon.svg);

	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 55px;
	background-color: #f2f4f6;
}

.links {
	margin-top: 3px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.links ul {
	position: absolute;
	display: flexbox;
	padding: 10px;
}

.links li {
	display: flex;
	align-items: center;
	width: 230px;
	height: 40px;

	list-style: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.links li:first-child {
	color: white;
	background-color: #007aff;
}

.links li img {
	margin-left: 10px;
	margin-right: 10px;
}

.links li:hover {
	transform: scale(1.05);
}

.toggle {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	width: 211px;
	height: 30px;
	left: 15px;
	top: 1041px;
}

.profile {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 240px;
	bottom: 0;

	background-color: #c1d7f5;
}

.profile p:first-of-type {
}

.profile p:nth-child(2) {
}

.profile p:nth-child(3) {
}
