.navigationLeft {
	position: absolute;
	width: 240px;
	height: 1165px;
	border: 1px solid rgba(9, 36, 75, 0.2);
	border-radius: 8px;
}

.projectSection {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 240px;
	height: 80px;

	border-radius: 5px;
	background: #838485;
}

.projectSection img,
p {
	position: relative;
	top: 10px;
}

.projectSection p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projectSection p:nth-child(2) {
	color: #4bc0c8;
}

.projectSection p:nth-child(3) {
	color: #c1d7f5;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search img {
	position: relative;
	right: 20px;
}

.search input {
	position: relative;
	width: 170px;
	height: 40px;

	margin-top: 24px;

	box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2);
	border-radius: 8px;

	font-size: 14px;

	background-image: url(/src/assets/navigation-icons/eyeglass-bar-icon.svg);

	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 55px;
	background-color: #f2f4f6;
}

.links {
	margin-top: 41px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.links ul {
	position: absolute;
	display: flexbox;
	padding: 10px;
}

.links li {
	display: flex;
	align-items: center;
	width: 208px;
	height: 40px;
	transition: all 0.2s ease-in-out;

	list-style: none;
	border-radius: 8px;
	cursor: pointer;
}

.links li:first-child {
	color: white;
	background-color: #007aff;
}

.links li img {
	margin-left: 10px;
	margin-right: 10px;
}

.links li:hover {
	transform: scale(1.05);
}

.toggle {
	position: absolute;
	display: flex;
	align-items: center;

	width: 211px;
	height: 30px;
	left: 15px;
	top: 1041px;
}

.toggle p {
	left: 20px;
}

.profile {
	position: absolute;
	display: flex;

	width: 240px;
	bottom: 0;

	background-color: #c1d7f5;
}

.profile p {
	width: auto;
}

.profile p:nth-child(1) {
	position: relative;
	width: 51px;
	height: 13px;
	left: -7px;
	top: 2px;
}

.profile:nth-child(2) {
	position: relative;
	width: 124px;
	height: 36px;
	left: 70px;
	top: 20px;
}
