.navigationLeft {
	position: absolute;
	width: 240px;
	height: 1165px;

	border: 1px solid rgba(9, 36, 75, 0.2);
	border-radius: 8px;
}

.projectSection {
	display: flex;
	align-items: center;

	width: 240px;
	height: 80px;

	background: #838485;
}

.projectSection img,
p {
	position: relative;
	align-items: center;
}

.projectSection p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projectSection p:nth-child(2) {
	color: #4bc0c8;
}

.projectSection p:nth-child(3) {
	color: #c1d7f5;
}

.search {
	position: relative;
}

.search img {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.search input {
	width: 195px;
	height: 40px;

	margin-top: 24px;

	background: #f2f4f6;
	box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.2);
	border-radius: 8px;

	font-size: 14px;
	background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
	background-color: #fff;
}

.links {
	margin-top: 41px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.links ul {
	margin: 0;
	padding: 0;
}

.links li {
	width: 208px;
	height: 40px;

	list-style: none;
	border-radius: 8px;
	cursor: pointer;
}

.toggle {
	position: absolute;
	display: flex;

	width: 211px;
	height: 30px;
	left: 15px;
	top: 1041px;
}

.toggle img,
p {
	position: relative;
	align-items: center;
	bottom: 0px;
}

.profile {
	position: absolute;
	display: flex;
	width: 240px;
	height: 75px;
	bottom: 0;

	background-color: #c1d7f5;
}

.profile p,
button {
	left: 20px;
}
