@import "src/styles/_mixins.scss";

.widgetContainer {
  position: relative;
  top: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 217px;
  width: 263px;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  & button {
    @include stripButton;
    transition: transform 0.3s ease;
  }

  & button:hover {
    transform: scale(1.05);
  }
}

.calendar {
  margin-bottom: 10px;
  text-align: center;
}

.appointmentForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formRow label {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.formRow input[type="time"],
.formRow input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

.selectedDate {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.selectedDate button {
  padding: 8px 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectedDate button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.selectedDate button:hover {
  background-color: #45a049;
}

.appointmentForm button {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.appointmentForm button + button {
  margin-left: 5px;
  background-color: #f20a0a;
}

.appointmentForm button:hover,
.selectedDate button:hover,
.appointmentForm button:disabled {
  opacity: 0.9;
}
