@import "src\\styles\\_mixins.scss";
@import "src\\styles\\animations\\wave\\_wave.scss";
@import "src\\styles\\animations\\wave\\_listening.scss";

$background: #579bea;
$recordingRed: #ff0000;

.recordingContainer {
  height: 50vh;
  @include flexColCenter;
}

.recordingContainer button {
  @include stripButton;
}

.isNotRec {
  color: $background;
  transform: scaleX(-1);
  @include setContainer(100px, 100px);
  animation: myAnim 2s ease-out 0s 1 normal both;
}

.isRec {
  color: $recordingRed;
  @include setContainer(100px, 100px);
  animation: recording 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.isNotListening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
