.container {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25%;
	/* 16:9 */
	margin-bottom: 20px;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.controls p {
	margin: 0;
}

.controls label {
	margin-right: 10px;
}

.controls select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.waveform {
	height: 5px;
	background-color: #ccc;
	transition: width 0.2s ease-in-out;
}

.playing {
	width: 100%;
	background-color: #007bff;
}
