.media-control-panel {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #333;
	color: #fff;

	bottom: 0;
	left: 0;
	width: 100vw;
}

.playback-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0.5em;
	z-index: 1;
}

.playback-controls button {
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 24px;
	margin-right: 2em;
}

.volume-controls button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 3em;
	bottom: 0.8em;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 24px;
	margin-right: 10px;
}

.playback-controls button:hover,
.volume-controls button:hover {
	cursor: pointer;
	color: #03a9f4;
	opacity: 0.7;
}

.playback-controls button:last-child,
.volume-controls button:last-child {
	margin-left: 0;
}

.volume-slider {
	display: flex;
	align-items: center;
}

.volume-slider input {
	width: 100px;
	margin-right: 10px;
}

/* Volume icon moved to the end of the right side */
.volume-controls button:last-child {
	margin-left: 0;
	margin-left: auto;
}

/* Styling for the volume slider thumb */
.volume-slider input::-webkit-slider-thumb {
	background-color: #03a9f4;
}

.volume-slider input::-moz-range-thumb {
	background-color: #03a9f4;
}

.song-info {
	position: relative;
	left: 25px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.song-title {
	font-size: 18px;
	font-weight: bold;
}

.song-artist {
	font-size: 14px;
}

.play-button {
	display: block;
}

.record-button {
	font-size: 24px;
	color: red;
}

.progress-bar {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	border-radius: 5px;
	background-color: #eee;
}

.progress-bar input {
	width: 100%;
	height: 10px;
	background-color: #6e6b6b;
	border: none;
	outline: none;
	border-radius: 5px;
}

.progress-bar input::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: #b30c0c;
	border-radius: 50%;
	cursor: pointer;
}

.progress-bar input::-moz-range-progress {
	background-color: #a11111;
}

.progress-bar input::-webkit-progress-value {
	background-color: #a11111;
}

.slider {
	position: absolute;
	right: 0;
	width: 95%;
	height: 10px;
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
}

.slider::-webkit-slider-thumb {
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #444;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #444;
	cursor: pointer;
}
