/* !Testing Value */
body {
    margin: 0;
}

.componentContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    bottom: 0%;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #333232;
}

.componentContainer button {
    background-color: transparent;
    border: none;
}

.componentContainer svg {
    height: 2.34vw;
    width: 45px;
    color: white;
    cursor: pointer;
}

.componentContainer svg:hover {
    color: #7ccf60;
}

.MetaData {
    display: flex;
    align-items: center;
    width: 250px;
    line-height: 9px;    
}

.MetaData > svg {
    height: 28%;
    width: 28%;
    margin-right: 10px;
}

.AudioControl {
    text-align: center;
    width: 25%;
}

.AudioControl :nth-child(1) {
    position: relative;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flip {
    transform: scaleX(-1);
}

.progress {
    margin-top: 5px;
}

.progressBar {
    position: relative;
    height: 0.65vh;
    width: 24.7vw;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    /* background: rgba(0, 0, 0, 0.25); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
        0 1px rgba(255, 255, 255, 0.08);
}

.progressAnimation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 15px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    animation: progress audio linear forwards;
    background-color: #3b3c3a;
}

.progressAnimation:hover {
    background-color: #39951b;
    cursor: pointer;
}

.sliderContainer {
    position: relative;
    bottom: 50px;
}

.slider {
    position: absolute;
    left: 1.9vw;
    top: 0.5vh;
}

.volumeSlider {
    position: relative;
    right: 9.91vw;
}

/* .audioPlayer:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
