.mediaPlayer {
    position: fixed;
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
    bottom: 0px;

    color: whitesmoke;
    background-color: #171717;
}

.mediaPlayer button {
    color: white;
    border: none;
    background-color: transparent;
}

.mediaPlayer svg {
    height: 2.34vw;
    width: 45px;
    color: white;
    cursor: pointer;
}

.mediaPlayer svg:hover {
    color: #7ccf60;
}

.MetaData {
    display: flex;
}

.MetaData svg {
    height: 70px;
    width: 70px;
}

.audioControls {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.flip {
    transform: scaleX(-1);
}

.progress {
    position: absolute;
    bottom: 0vw;
}

.progressBar {
    position: relative;
    height: 0.65vh;
    width: 24.7vw;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    /* background: rgba(0, 0, 0, 0.25); */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
        0 1px rgba(255, 255, 255, 0.08);
}

.timer {
    position: relative;
    right: 50px;
    top: 10px;
    color: #39951b;
}

.progressAnimation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 15px;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    animation: progress audio linear forwards;
    background-color: #3b3c3a;
}

.progressAnimation:hover {
    background-color: #39951b;
    cursor: pointer;
}

.volumeControl {
    position: relative;
    right: 6%;    
}

.sliderContainer {
    position: absolute;
}

.download {
    margin: 20px;
}
