.modal {
  position: relative;
  max-width: 400px;
  padding: 20px;
  background-color: #3f3f46;
  color: #aeaeae;
  border-radius: 5px;
  z-index: 50;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 50;
}
