.headerContainer {
	background: #b4c2da;
	position: relative;
	display: flex;
	left: 240px;
	top: 285px;

	width: 1200px;
	height: 274px;
	margin: 0px 0px 10px 0px;
}

.headerContainer p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 187px;
	height: 38px;
	margin: 20px;
	border-radius: 5px;
	background: #838485;
	color: #b5e4ff;
	box-shadow: 0px 4px 8px rgba(41, 54, 84, 0.5);
}

.icons {
	margin-right: 4px;
}

.headerContainer button {
	position: relative;
	width: 131px;
	height: 30px;
	margin: 15px;
	left: 40%;
	border: 1px solid #c1d7f5;
	border-radius: 5px;
	color: #fff;
	background: rgba(0, 0, 0, 0.51);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.headerContainer button:nth-of-type(3) {
	background: #8c85e0;
}

.headerContainer button:hover {
	transform: scale(1.05);
}

.headerContainer select {
	position: relative;
	right: 57.5%;
	width: 155px;
	height: 20px;
	top: 100px;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
