.headerContainer {
	background: #b4c2da;
	display: flex;

	width: 1200px;
	height: 274px;

	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.headerContainer p {
	width: 187px;
	height: 38px;
	margin: 20px;
	border-radius: 5px;
	background: #838485;
	color: #b5e4ff;
	box-shadow: 0px 4px 8px rgba(41, 54, 84, 0.5);
}

.icons {
	margin-right: 4px;
}

.headerContainer button {
	position: relative;
	width: 131px;
	height: 30px;
	margin: 15px;
	left: 40%;
	border: 1px solid #c1d7f5;
	border-radius: 5px;
	color: #fff;
	background: rgba(0, 0, 0, 0.51);
	cursor: pointer;
}

.headerContainer button:nth-of-type(3) {
	background: #8c85e0;
}

.headerContainer select {
	position: relative;
	width: 155px;
	height: 20px;
	top: 100px;
	margin-left: -59.5%;
	margin-right: 0;
	appearance: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
