@import "../../styles/global";
@import "../../styles/_mixins";
@import "../../styles/_variables";

$primary-color: #2c539e;
$secondary-color: #63967d;

/* !TESTING VALUE */

body {
  background: #2c539e;
  background: -moz-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #2c539e),
    color-stop(100%, #63967d)
  );
  background: -webkit-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: -o-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: -ms-linear-gradient(-45deg, #2c539e 0%, #63967d 100%);
  background: linear-gradient(135deg, #2c539e 0%, #63967d 100%);
  animation: gradientAnimation 60s infinite linear;
}

@keyframes gradientAnimation {
  0% {
    background: #2c539e;
  }
  20% {
    background: #51876d;
  }
  40% {
    background: #2c539e;
  }
  100% {
    background: #639687;
  }
}

.dashboard {
  position: relative;
  min-height: 85.5%;
  min-width: 65vw;
  padding: 0;
  color: $whiteColor;
  backdrop-filter: blur(4px);
  background-color: rgba(22, 23, 24, 0.852);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    margin-left: 0.52vw;
  }
}

.btnContainers {
  height: 8vh;
  @include flexRowCenter;
  gap: 2vw;
  margin-bottom: 2.31vh;

  button {
    @include flexColCenter;
    padding: 1rem;
    min-width: 4.5vw;
    @include stripButton;
    font-weight: 700;
    font-size: 0.7rem;
    color: $whiteColor;
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms;
    transform: translateY(0);
    animation: AnimationName 30s ease infinite;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(122deg, #3190aa, #305da0, #2a5792);

    &:hover {
      transition: 500ms;
      transform: translateY(-0.35vw);
    }

    span {
      margin-top: 0.46vh;
    }

    svg {
      position: relative;
      margin-top: 0.46vh;
      color: $whiteColor;
      @include setContainer(3vh, 2vw);
    }
  }
}

.movie {
  @include flexColCenter;
  @include setContainer(18vh, 10.8vw);
  margin-left: 1.04vw;
  margin-bottom: 2.31vh;
  border-radius: 15px;
  cursor: pointer;
  background-image: url("../../assets/pictures/place-holder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 500ms;
  transform: translateY(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: AnimationName 30s ease infinite;

  &:hover {
    transition: 500ms;
    transform: translateY(-0.26vw);
  }
}
