@import "../../styles/global";
@import "../../styles/_mixins";
@import "../../styles/_variables";

/* !TESTING VALUE */
body {
  background-color: #cbdbba;
}

.dashboard {
  position: relative;
  min-height: 85.5%;
  min-width: 65vw;
  padding: 0;
  color: $whiteColor;
  backdrop-filter: blur(4px);
  background-color: rgba(22, 23, 24, 0.852);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    margin-left: 0.52vw;
  }
}

.btnContainers {
  height: 8vh;
  @include flexRowCenter;
  gap: 2vw;
  margin-bottom: 2.31vh;

  button {
    @include flexColCenter;
    padding: 1rem;
    min-width: 4.5vw;
    @include stripButton;
    font-weight: 700;
    font-size: 0.7rem;
    color: $whiteColor;
    border-radius: 15px;
    cursor: pointer;
    transition: 500ms;
    transform: translateY(0);
    animation: AnimationName 30s ease infinite;
    background-size: 400% 400%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(122deg, #3190aa, #305da0, #2a5792);

    &:hover {
      transition: 500ms;
      transform: translateY(-0.35vw);
    }

    span {
      margin-top: 0.46vh;
    }

    svg {
      position: relative;
      margin-top: 0.46vh;
      color: $whiteColor;
      @include setContainer(3vh, 2vw);
    }
  }
}

.movie {
  @include flexColCenter;
  @include setContainer(18vh, 10.8vw);
  margin-left: 1.04vw;
  margin-bottom: 2.31vh;
  border-radius: 15px;
  cursor: pointer;
  background-image: url("../../assets/pictures/place-holder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 500ms;
  transform: translateY(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: AnimationName 30s ease infinite;

  &:hover {
    transition: 500ms;
    transform: translateY(-0.26vw);
  }
}
