.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .widget {
    flex-direction: column;
  }
}

.widget aside {
  width: 10.04%;
  max-width: 10.04%;
  height: 8.51%;
  font: normal 600 16px "Inter";
  border-radius: 12px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

.widget aside:nth-child(even) {
  background-color: #c1d7f5;
}

.widget aside:nth-child(odd) {
  background-color: #b5e4ff;
}

.widget aside:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.widget aside p {
  position: relative;
  line-height: 0px;
  padding-top: 5px;
  left: 20px;
}

.widget aside p:nth-of-type(1) {
  font-size: 0.875em;
}

.widget aside p:nth-of-type(2) {
  display: inline-block;
  font-size: 1.4em;
}

.widget aside p:nth-of-type(3) {
  display: inline-block;
  left: 28px;
  font-size: 0.56em;
}

.widget aside p:nth-of-type(4) {
  display: inline-block;
  left: 30px;
  top: -10px;
  font-size: 11px;
  color: #299941;
}
