@import "../../../styles/mixins";

.container {
  @include flexRowCenter;
  gap: 30px;
}

.widget {
  width: 17.5%;
  height: 9vh;
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 12px;
  font: normal 600 20px "Inter";
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;

  &:nth-child(even) {
    background-color: #355b91;
  }

  &:nth-child(odd) {
    background-color: #246083;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  p {
    position: relative;
    line-height: 0px;
    padding-top: 10px;
    left: 22px;
  }
}

.container aside p:nth-of-type(1) {
  font-size: 0.875em;
}

.container aside p:nth-of-type(2) {
  display: inline-block;
  font-size: 1.4em;
}

.container aside p:nth-of-type(3) {
  display: inline-block;
  left: 28px;
  font-size: 0.56em;
}

.container aside p:nth-of-type(4) {
  display: inline-block;
  left: 30px;
  top: -10px;
  font-size: 0.6rem;
  font-weight: 700;
  color: #0ecc37;
}
