@import "../../styles/mixins";

.editorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 85.5%;
  min-width: 65vw;
  backdrop-filter: blur(4px);
  background-color: rgba(22, 23, 24, 0.852);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleSection {
  display: flex;
  align-items: center;
}

.editorStyles {
  min-height: 5.6vh;
  min-width: 65vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.titleInput {
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: 700;
  background-color: transparent;
  color: whitesmoke;
  padding: 0;
  margin-right: 10px 0px;
}

.button {
  margin: 0 5px;
  padding: 10px 10px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #333;
  @include stripButton;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }
}

.timeStamp > span {
  margin-right: 30px;
}

.editorStyles {
  margin: 20px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
