@import "../../styles/mixins";

.editorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 85.5%;
  min-width: 65vw;
  cursor: pointer;
  backdrop-filter: blur(4px);
  background-color: rgba(22, 23, 24, 0.852);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleSection {
  display: flex;
  align-items: center;
}

.editorStyles {
  min-height: 5.6vh;
  min-width: 65vw;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  }
}

.titleInput {
  border: none;
  outline: none;
  font-size: 32px;
  font-weight: 700;
  background-color: transparent;
  color: whitesmoke;
  padding: 0;
  margin-right: 10px 0px;
  transition: background-color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
  }
}

.button {
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #333;
  @include stripButton;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: #555;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.timeStamp > span {
  margin-right: 30px;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;

  &:hover {
    color: #ddd;
    text-decoration: underline;
  }
}
