.container {
  height: 30vh;
  width: 60vw;
  
  background-color: antiquewhite;
}

.title {
  font-size: 32px;
}

.titleInput {  
  border: none;
  outline: none;
  font-size: 32px;
  background-color: transparent;
}

.button {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  }

.button:hover {
  background-color: #444;
}

.timeStamp {
 
}

.timeStamp > span { 
  position: relative;
  margin-right: 30px;
  bottom: 10px;
}


