@import "src/styles/_mixins.scss";
@import "src/styles/animations/wave/_wave.scss";
@import "src/styles/animations/wave/_listening.scss";

$background: #579bea;
$recordingRed: #ff0000;

.recordingContainer {
  min-height: 85.5%;
  min-width: 65vw;
  padding: 0px;
  color: whitesmoke;
  backdrop-filter: blur(4px);
  background-color: rgba(22, 23, 24, 0.852);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  h2 {
    margin-left: 20px;
  }

  @include flexColCenter;
}

.recordingContainer button {
  @include stripButton;
}

.isNotRec {
  color: $background;
  transform: scaleX(-1);
  @include setContainer(100px, 100px);
  animation: myAnim 2s ease-out 0s 1 normal both;
}

.isRec {
  color: $recordingRed;
  @include setContainer(100px, 100px);
  animation: pulse 6s infinite;
}

.isNotListening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
