.navRight {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 320px;
  max-width: 320px;
  height: 99vh;
  right: 10px;
  max-height: auto;
  border: 1px solid rgba(9, 36, 75, 0.2);
  border-radius: 5px;
  background-color: #fff;
}

.notifications {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90rem;
  margin: 15rem 0 0 0.6rem;
  font: 600 0.8rem/1rem "Inter", sans-serif;
  line-height: 1rem;
  font-style: normal;
}

.notifications > p:first-child {
  color: #1c1c1c;
  font-size: 1.25rem;
}

.notifications > div {
  position: relative;
  display: flex;
  align-items: center;
}

.notifications > div > svg {
  width: 3vh;
  height: 3vh;
  margin: 0 4%;
}
