.navRight {
  position: fixed;
  margin: 5px;
  right: 0px;
  width: 15%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(9, 36, 75, 0.2);
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
}

.notifications {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 24rem;
  margin: 24rem 0 0 0.2rem;
  font: 600 0.8rem/2rem "Inter", sans-serif;
  line-height: 1rem;
  font-style: normal;
}

.notifications > p:first-child {
  color: #1c1c1c;
  font-size: 1.25rem;
}

.notifications > div {
  position: relative;
  display: flex;
  align-items: center;
}

.notifications > div > svg {
  width: 3vh;
  height: 3vh;
  margin: 0 4%;
}
